.posts {
   list-style: none;
   max-width: 50rem;
   margin: 1rem auto;
   padding: 1rem 0;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(3, 30%);
   justify-content: center;
}

.noPosts, .loading{
   text-align: center;
}

.loading {
   animation: bounce 1.5s linear infinite;
}

@keyframes bounce {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-10px);
   }
   100% {
      transform: translateY(0);
   }
}
